:root {
    /*primary text color */ 
    --primary-color: #342a21;
    /* main page background color*/
    --secondary-color: #C1CC99;
    /* header background color */
    --accent1-color: #F1E0C5;
    /* ul accent color */
    --accent2-color: #73460B;
    --heading-font: "Times New Roman","Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
    
}

header {
    display: grid;
    grid-template-columns: 220px 1fr;
    align-items: center;
    max-width: 1000px;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.socialmedia{
 
}
.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    max-width: 40px;
    height: auto;
}

.navigation {
    display: flex;
    list-style: none;
}
.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: var(--primary-color);
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

.navigation a:hover {
    color: tomato;
    text-decoration: underline;
}

ul {
    color: var(--accent2-color);
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--accent1-color);
}
div {
    color: var(--primary-color);
}

p, section, article {
    margin: 16px;
    padding: 8px;
}

p {
    color: var(--primary-color);
}

figure {
    padding-top: 1rem;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}
.hero article {
    position: absolute;
    bottom: 20px;
    width: 95%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.hero article p{
    opacity: 1;
    font-weight: bold;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.history h2{
    grid-column: span 3;
}

.history img{
    width: 200px;

}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 160px);
    justify-content: center;
    align-items: center;
}
.adventure h2{
    grid-column: span 5;
}

.adventure img{
    width: 150px;
    height: auto;
}