:root {
    --background-color: #F5EFEB;
    --primary-color: #73460B;
    --secondary-color: #EBF5EF;
    --accent1-color: #B88E72;
    --accent2-color: #EBF1F5; 
    --heading-font: "Times New Roman","Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: var(--background-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--accent1-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}


.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    max-width: 40px;
    height: auto;
}


.hero {
    position: relative;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--background-color);
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}