:root {
    /*primary text color */ 
    --primary-color: #342a21;
    /* main page background color*/
    --secondary-color: #C1CC99;
    /* header background color */
    --accent1-color: #F1E0C5;
    /* ul accent color */
    --accent2-color: #73460B;
    --heading-font: "Times New Roman","Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font, Arial);
    color: var(--primary-color, #342a21);
    background-color: var(--secondary-color, #C1CC99);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
    
}

header {
    display: grid;
    grid-template-columns: 220px 1fr;
    align-items: center;
    max-width: 1000px;
}

footer {
    display: grid;
    grid-template-columns: 140px 450px 140px;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    grid-template-areas: "a b c";
    max-width: 1000px;
}

.copyright{
    grid-area:b;
}

.socialmedia{
    grid-area:c;
    justify-items: left;
}
.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    max-width: 40px;
    height: auto;
}

.navigation {
    display: flex;
    list-style: none;
}
.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: var(--primary-color,#342a21);
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

.navigation a:hover {
    color: tomato;
    text-decoration: underline;
}

ul {
    color: var(--accent2-color,#73460B);
}

h1, h2 {
    font-family: var(--heading-font, "Times New Roman");
    color: var(--primary-color,#342a21);
    background-color: var(--accent1-color,#F1E0C5);
}
div {
    color: var(--primary-color,#342a21);
}

p, section, article {
    margin: 16px;
    padding: 8px;
}

p {
    color: var(--primary-color, #342a21);
}

figure {
    padding-top: 1rem;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color,#F1E0C5);
    color: var(--primary-color,#342a21);
}
.hero article {
    position: absolute;
    bottom: 20px;
    width: 95%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color,#F1E0C5);
    color: var(--primary-color, #342a21);
}

.hero article p{
    opacity: 1;
    font-weight: bold;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.history h2{
    grid-column: span 3;
}

.history img{
    width: 200px;

}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 160px);
    justify-content: center;
    align-items: baseline;
}
.adventure h2{
    grid-column: span 5;
}


form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
}

fieldset {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
    align-items: center;
    border: none;
}

label {
    grid-column: 1;
    text-align: right;
    padding-right: 10px;
}

input {
    grid-column: 2;
    text-align: left;
    padding-right: 10px;
}

textarea, button {
    grid-column: 1 / span 2;
    width: 100%;
}

.employees table {
    text-align: center;
    align-self: center;
    width: 100%;

}
.employees h1{
    text-align: center;
}

.employees img {
    width: 250px;
    height: auto;
    text-align: center;
}

