*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    background-color: #555;
    color: #fff;

}

h1 {
    margin: .5rem;
}

form {
    background-color: #ddd;
    color: #111;
}
code {
    display: block;
    background-color: #000;
    color: #fff;
}

input, textarea,select, button {
    padding: .75rem;
    width: 350px;
}
button {
    background-color: navy;
    color: #fff;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
}


.box {
    border: 1px solid rgb(0 0 0 /10%);
    padding: 1rem;
    margin: 1rem;
}

.quiz-item {
    border: none;
}